.headerContainer {

}

.headerContent {
    max-width: 1280px;
    height: 5ree;
    margin: 0 auto; // para centralizar
    padding: 0 16px; // para não grudar    
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 14px; //espaçamento entre os icones

        a {
            color: var(--white);
            text-decoration: none;
            transition: color .8s;

            //quando passar o mouse em cima do elemento
            &:hover {
                color: var(--red-900)
            }
        }
        button{
            border: 0;
            background: transparent;
            margin-left: 16px;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}